@charset "UTF-8";

*{  
    font-family: Arial, Helvetica, sans-serif; 
}

body{
    background-image: linear-gradient(to right, #8C8C8C, #BFBFBF);
}

main{
    background-color: white; 
    border-radius: 15px;
    box-shadow: 2px 2px 15px #505050bb;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #585656;
    text-align: center;
    text-shadow: 1px 1px 2px #505050d7;
}

h2{
    color: #5a5858;
}

p{
    text-align: justify;
}